header {
    position: relative;
    background-color: white;
    nav {
        min-height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        

        a {
            padding: 20px;
            margin: 0 20px;
        }
    }
}

.logo {
    margin: 0 20px;
    font-weight: bold;
    font-size: 1.2rem;
}

.indicator {
    color: $blue1;
    position: absolute;
    bottom: 10px;
    left: 50%;
    animation: bounce 1s ease infinite;
}

.hamburgerMenu{
    width: 50px;
    position:fixed;
    top: 1.5%;
    right: 2%;
    display: none;
    background-color: transparent;
    color: $black;
    font-size: 1.5rem;

    &:hover,
    &:focus {
        color: $blue2;
        background-color: transparent;
        cursor: pointer;
    }
}

.headerContent {
    // background-color: $blue3;
    background: rgb(254, 253, 255);
    background: linear-gradient(180deg, rgba(254, 253, 255, 1) 0%, rgba(56, 56, 56, 1) 100%);
    border-top: 1px solid $blue1;
    

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        min-height: 90vh;
        text-align: center;
    }

    img {
        margin-top: 50px;
        border-radius: 50%;
        background: linear-gradient(45deg,
        #ff2400,
        #e81d1d,
        #e8b71d,
        #e3e81d,
        #1de840,
        #1ddde8,
        #2b1de8,
        #dd00f3,
        #dd00f3);
        background-size: 800% 800%;
        animation: rainbow 32s ease infinite;
    }
    
}

@keyframes rainbow {
0% {
    background-position: 0% 82%
}

50% {
    background-position: 100% 19%
}

100% {
    background-position: 0% 82%
}
}

@keyframes bounce {
    0% {
        bottom: 10px;
    }
    50% {
        bottom: 20px;
    }
    100%{
        bottom: 10px;
    }
}