header {
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 10vh;

        a {
            padding: 20px;
            margin: 0 20px;
        }
    }
}

.headerContent {

    // background stuff
    background-color: #f5f4f2;
    border-top: 1px solid #e1e1e1;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;

        
    }
    
}