@media (max-width:970px) {
    .headerContent {

        .wrapper {
            flex-direction: column;
        }

        img {
            margin: 20px 0 ;
        }

        h1{
            margin-top:50px;
        }
    }

    .card {
        flex-direction: column;
        align-items: center;
    
        img {
            width: 80%;
            margin-bottom: 50px;
        }
    
        .contentContainer {
            width: 80%;
        }   
    }

    .skill {
        li {
            width: 30%;;
        }
    }
}

@media (max-width:680px) {
    .skill {
        li {
            width: 50%;
            ;
        }
    }

    .contactForm{
        flex-direction: column;
        width: 90%;

        input{
            width: 100%;
            margin: 20px 0;
        }

        textarea {
            margin: 20px 0;
        }
    }

    .headerContent{

        img {
            margin-top: 100px;
        }
    }

    header {
        .headerMenu {
            flex-direction: column;
            justify-content:center;
            align-items: center;
            position: fixed;
            left: -100%;
            top: 0px;
            width: 100%;
            min-height: 100vh;
            transition: 0.3s;
            background-color: $blue1;
            z-index: 10;
        }

        .showMe{
            left: 0;
        }

        li {
            width: 100%;
            display: flex;
            justify-content:center;
            margin: 20px 0;
            
        }

        .navLink{
            width: 100%;
            text-align: center;
            color: white;
            background-color: $blue1;
            border-radius: 25px;
            
            
            &:hover,
            &:focus {
                background-color: $blue2;
                border-radius: 25px;
                color: white;
            }
        }
    }

    .hamburgerMenu{
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 20;
        border: 1px solid $blue2;
        color: black;
    }

    .socials {
        flex-direction: column;
    }
}