@import url('https: //fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Open+Sans:wght@400;700&display=swap');

html {
    font-size: 125%;
}

ul,
a,
h1,
h2,
h3,
p {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1170px;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img {
    display: block;
}