html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  color: #2b2b2b;
  scroll-behavior: smooth;
}

ul,
a,
h1,
h2,
h3,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1170px;
  width: 90%;
  margin: 0 auto;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #2b2b2b;
  font-size: 0.8;
  line-height: 45px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
a:hover, a:focus {
  color: #0074d4;
}

h1 {
  font-size: 3.15rem;
  line-height: 3.15rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin: 30px 0;
}

h3 {
  font-size: 1.8rem;
  line-height: 27px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin: 20px 0;
}

h4 {
  font-size: 1rem;
  line-height: 27px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin: 20px 0;
}

p {
  font-size: 1rem;
  line-height: 28px;
  color: #2b2b2b;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

button {
  font-size: 0.8rem;
  letter-spacing: 0px;
  line-height: 27px;
  color: #ffffff;
  background-color: #0074d4;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  border-color: transparent;
  border-radius: 5px;
  width: 170px;
  height: 45px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button:hover, button:focus {
  background-color: #00a2eb;
}

header {
  position: relative;
}
header nav {
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header ul a {
  padding: 20px;
  margin: 0 20px;
}

.logo {
  position: absolute;
  left: 5px;
  top: 0;
}

.indicator {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-animation: bounce 1s ease infinite;
          animation: bounce 1s ease infinite;
}

.hamburgerMenu {
  width: 50px;
  position: fixed;
  top: 5px;
  right: 5px;
  display: none;
  background-color: transparent;
  color: #2b2b2b;
}
.hamburgerMenu:hover, .hamburgerMenu:focus {
  color: #0074d4;
  background-color: transparent;
  cursor: pointer;
}

.headerContent {
  background-color: rgba(0, 161, 235, 0.2);
  border-top: 1px solid #0074d4;
}
.headerContent .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  min-height: 90vh;
}
.headerContent img {
  border-radius: 50%;
  background: linear-gradient(45deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 800% 800%;
  -webkit-animation: rainbow 32s ease infinite;
          animation: rainbow 32s ease infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-webkit-keyframes bounce {
  0% {
    bottom: 10px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 10px;
  }
}
@keyframes bounce {
  0% {
    bottom: 10px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 10px;
  }
}
section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 100px 0;
}
h3 .headingStyle {
  width: 300px;
  height: 2px;
  background-color: #2b2b2b;
  display: block;
  margin-top: 20px;
}
h3 .smallBlock {
  width: 50px;
  height: 10px;
  background-color: #0074d4;
  display: block;
  position: absolute;
  bottom: -5px;
}

.skill ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.skill li {
  width: 20%;
  text-align: center;
  margin: 15px 0;
}
.skill i {
  font-size: 80px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0;
  padding: 20px;
  border: 5px solid #0074d4;
  border-radius: 25px;
  background-color: rgba(0, 161, 235, 0.2);
}
.card img {
  width: 30%;
  margin-right: 20px;
  border-radius: 10px;
}
.card .contentContainer {
  width: 60%;
}
.card a {
  color: #0074d4;
  border: none;
  margin-right: 20px;
}
.card a:hover, .card a:focus {
  text-decoration: underline;
  color: #00a2eb;
}

.about p {
  margin: 20px 0;
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
}
.contactForm input {
  width: 45%;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  border-color: #0074d4;
  border-radius: 5px;
}
.contactForm textarea {
  width: 100%;
  resize: none;
  padding: 10px;
  margin: 50px 0;
  font-family: "Open Sans", sans-serif;
  border-color: #0074d4;
  border-radius: 5px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.socials li {
  margin: 10px 30px;
  min-width: 40px;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.socials a {
  font-size: 40px;
  padding: 20px 20px;
}
.socials a:hover, .socials a:focus {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

@media (max-width: 970px) {
  .headerContent .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .headerContent img {
    margin: 20px 0;
  }
  .headerContent h1 {
    margin-top: 50px;
  }

  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card img {
    width: 80%;
    margin-bottom: 50px;
  }
  .card .contentContainer {
    width: 80%;
  }

  .skill li {
    width: 30%;
  }
}
@media (max-width: 680px) {
  .skill li {
    width: 50%;
  }

  .contactForm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
  }
  .contactForm input {
    width: 100%;
    margin: 20px 0;
  }
  .contactForm textarea {
    margin: 20px 0;
  }

  .headerContent .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .headerContent img {
    margin-top: 100px;
  }

  header .headerMenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    left: -100%;
    top: 35px;
    width: 100%;
    min-height: 90vh;
    border-radius: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header .showMe {
    left: 0;
  }
  header li {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px 0;
  }
  header a {
    width: 100%;
    text-align: center;
    color: white;
    background-color: #0074d4;
    border-radius: 25px;
  }
  header a:hover, header a:focus {
    background-color: #00a2eb;
    border-radius: 25px;
    color: white;
  }

  .hamburgerMenu {
    display: block;
  }

  .socials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}